.containerCenter {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-700);
}

.login {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 600px;

  h1 {
    color: var(--white);
  }

  form {
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
  }

  form button {
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold;
  }

  form button:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}

.input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--gray-100);
  padding: 16px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;

}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.text {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 620px) {
  .login {
    width: 90%;
  }
}